.container {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  background: var(--card-background);
  height: fit-content;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
  padding: 15px;
  margin: 10px 0px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid rgb(180, 180, 180);
}

h1 {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bold;
  margin: 15px 0px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2ms;
  color: white;
  border: none;
  background: var(--red);
}

button:hover {
  filter: brightness(0.9);
}

p {
  margin: 10px 0;
}

.questions {
  margin: 15px 0px;
}

.questionWrapper {
  margin: 10px 0;
  border: 2px solid rgb(214, 214, 214);
  padding: 10px;
  border-radius: 10px;
}

.questionWrapper p {
  font-size: 20px;
}

.answer input {
  width: unset;
  margin-right: 10px;
}