.container{
  background: var(--background);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--card-background);
  height: fit-content;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type = 'text'] {
  padding: 15px;
  margin: 10px 0px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid rgb(180, 180, 180);
}

h1 {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bold;
  margin: 15px 0px;
}

button {
  background-color: var(--red);
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 2ms;
  color: white;
  border: none;
}

button:hover {
  filter: brightness(0.9);
}

p {
  margin: 10px 0;
}

.photo {
  margin: 30px auto;
  height: 150px;
  width: 150px;
  background: url("./photo.png");
  background-size: 100% 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.my_file {
  position: absolute;
  bottom: 0px;
  outline: none;
  color: transparent;
  width: 100%;
  padding: 20px 85px;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.5s;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.my_file:hover{
  opacity: 1;
}

.my_file::-webkit-file-upload-button {
  visibility: hidden;
} 

.my_file::before {
  content: '\f030';
  font-family: fontAwesome;
  font-size: 40px;
  color: #fff;
  display: inline-block;
}